<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/style.css">
  <title>{{ last_message }} - LiveMsg</title>
</head>
<body>
  <h1>{{ last_message }}</h1>

  <form method="POST" action="">
    <input type="text" name="message" id="message" autocomplete="off">
    <input type="submit" value="Update Message">
  </form>
<br>
<div id="credits">
  Made by KitBoger 2023.
</div>
</body>
</html>